@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'inter';
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    background-color: #003C43;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 1rem
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding: 2rem;
}

nav a:hover{
    color: #003C43;
    background-color: white;
}

main article{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0rem;
}

article span{
    padding: 3rem;
    text-align: left;
}

article .image{
    text-align: center;
}

article li{
    font-size: 1.5rem;
}

.tips img{
    width: 30rem;
}
.image a{
    text-decoration: none;
    color: #34252F;
}

main article img{
    width: 70%;
}

.pengenalanText h1{
    font-size: 5rem;
    margin: 2rem 0rem;
}

.pengenalanText p{
    font-size: 2rem;
}

.definitionText h1, .urgensiText h1, .tipsText h1{
    font-size: 3rem;
}

.definitionText p, .urgensiText p, .tipsText p{
    text-align: justify;
    font-size: 1.5rem;
    margin: 1.5rem 0rem;
}

.cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caseText h1{
    text-align: center;
    font-size: 3rem;
}

.caseText p{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}

iframe{
    text-align: center;
    width: 70rem;
    height: 20rem;
    margin: 2rem 0rem;
    border: none;
}



.closing h1{
    font-size: 3rem;
}
.closing{
    text-align: center;
    margin: 2rem;
}

.closing>span{
    width: 100%;
    text-align: center;
}